@charset "utf-8";
/* CSS Document */

#header{
    height: 150px;
    padding-top: 42px;
    padding-left: 22px;
    overflow: hidden;
    background-image: url(./html/image/header-bg.jpg);
    background-color: #010080;
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: 3px solid #80a2df;
    
}